<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.op.danex11.stringencoder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainMenu"
            android:icon="@mipmap/ic_dencrypthexa"
            android:label="@string/coder_applbl"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EncryptorAPI22"
            android:label="@string/encodebutton"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>

        <activity
            android:name=".DecryptorAPI22"
            android:label="@string/decodebutton"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>


    </application>

</manifest>